.logo {
  font-weight: bold;
}

.navbar {
  background: rgb(255, 255, 255);
  padding: 20px;
}

.navbar a {
  margin-right: 20px;  
  text-decoration: none;
  color: black;
}

.main-bg {
  width: 300px;  
  padding: 20px;
}

.main-bg-1 {
  border: 2px solid rgb(68, 44, 44);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  opacity : 1;
  transition: all 1s;
  background-color: rgb(230, 231, 245);
  
}

.main-bg-1:hover {
  background-color: rgb(193, 208, 253)
}

.main-bg-1 a {
  text-decoration: none;
  color: #000;  
  padding-left: 240px;
  padding-right: 10px;
}

.main-bg-1 p {
  font-weight: bold;
}


.main-input input{
  margin-bottom: 10px;
  width: 150px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgb(68, 44, 44);
  background-color: rgb(255, 255, 255);
}

.delete-icon {
  cursor: pointer; /* 마우스를 올렸을 때 커서 모양을 포인터로 변경 */
}